dash>=2.9.2
dash-ag-grid>=2.0.0
dash-bootstrap-components>=1.1.0
dash-mantine-components>=0.11.0
dash-iconify>=0.1.2
numpy
pandas

# for caching demo only
Flask-Caching>= 2.0.1
diskcache>=5.2.1
numpy
pandas
redis
dill>=0.3.5.1

# for flash-login demo only
ldap3
flask-login
python-dotenv

# for theme switch demo only
dash-bootstrap-templates

# for debugging demo using dash_labs.print_registry() only
dash-labs>=1.1.0


